@import '../../variables/colors';
@import '../../variables/layout';

.layout-drawer {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 240px;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    transform: translateX(-250px);
    transform-style: preserve-3d;
    color: @color-text-primary;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
    will-change: transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
}

.layout-drawer--visible {
    transform: translateX(0);
}

.layout-obfuscator {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-obfuscator--visible {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.layout-drawer__expander {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #ccc;
    margin: 1rem;
    z-index: 5;
}

.layout-drawer__title {
    display: block;
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-left: 40px;
    line-height: 64px;
}

.layout-drawer__navigation {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    padding-top: 16px;
}

.layout-drawer__navigation-link {
    display: block;
    color: @color-text-primary;
    text-decoration: none;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
    opacity: 0.87;
    flex-shrink: 0;
    padding: 1rem 2.5rem;
}

@media only screen and (min-width: @layout-show-drawer-screen-width){
    .layout-drawer__expander {
        display: none;
    }
}