@import '../../variables/colors';
@import '../../variables/shadows';
@import '../../variables/layout';


.layout-header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    padding: 0;
    border: none;
    min-height: 64px;
    max-height: 1000px;
    z-index: 3;
    max-width: @layout-max-with;
    margin: 0 auto;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: max-height, box-shadow;
}

.layout-header__row {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    box-sizing: border-box;
    align-self: stretch;
    align-items: center;
    height: 64px;
    margin: 0;
}

.layout-header__title {
    display: block;
    position: relative;
    color: @color-primary;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 700;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 1;
}

.layout-header__navigation {
    margin: 0;
    padding: 0;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box
}

.layout-header__navigation-link {
    display: block;
    color: #fff;
    line-height: 64px;
    text-decoration: none;
    margin: 0 24px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
}
.layout-header__navigation-link:nth-last-of-type(1) {
    margin-right: 0;
}
.layout-header__navigation-link--current {
    border-bottom: 2px solid #fff;
}


@media only screen and (max-width: @layout-max-with) {
    .layout-header {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: @layout-show-drawer-screen-width) {
    .layout-header {
        padding-left: 0;
    }
    
    .layout-header__navigation {
        display: none;
    }
}