@import '../../variables/layout';
@import 'content';
@import 'header';
@import 'drawer';

.layout {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.layout__top-bg {
    position: absolute;
    background: url('/img/bg.png') no-repeat center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    height: @layout-top-bg-height;
}
