@color-primary: #cddc39;
@color-primary-dark: #AFB42B;
@color-primary-light: #F0F4C3;
@color-accent: #ffd740;
// @color-primary: #8BC34A;
// @color-primary-dark: #689F38;
// @color-primary-light: #DCEDC8;
// @color-accent: #CDDC39;
@color-text-primary: #212121;
@color-text-secondary: #727272;
@color-body: #EFEFEF;
@color-card: #fff;
@color-divider: #B6B6B6;
@color-border: @color-divider;
@color-error: #d9534f;