@import '../../variables/shadows';

/* Card */
.m-card {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    overflow: hidden;
    position: relative;
    background: #fff;
    border-radius: 2px;
    min-width: 300px;
}

.m-card__content {
    padding: 1rem;
    width: 100%;
}

.m-card__image {
    display: block;
    padding: 1rem;
    position: relative; 
}

.m-card__image--overlay {

    &:before {
        content: ' ';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0.57) 60%)
    } 
}

.m-card__actions {
    width: 100%;
    background-color: transparent;
    padding: 0.5rem;
}


/* List */
.m-list {
    display: block;
    padding: 0.5rem 0;
    list-style: none;
}
.m-list__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 16px;
    cursor: default;
    color: rgba(0,0,0,.87);
    overflow: hidden; 
    align-items: center;
    min-height: 3rem;
    line-height: 1;
}

.m-list__item-content {
    order: 0;
    flex-grow: 2;
    text-decoration: none;
}

.m-list__item-action {
    order: 4;
    text-decoration: none;
}

/* Shadows */
.m-shadow-2 {
    box-shadow: @shadow-2;
}
.m-shadow-3 {
    box-shadow: @shadow-3;
}
.m-shadow-4 {
	box-shadow: @shadow-4;
}
.m-shadow-6 {
    box-shadow: @shadow-6;
}
.m-shadow-8 {
	box-shadow: @shadow-8;
}
.m-shadow-16 {
	box-shadow: @shadow-16;
}

