@import '../../variables/colors';
@import '../../variables/shadows';

// Font Sizes
@mf-font-size: 1rem;
@mf-active-font-size: @mf-font-size * 0.8;
@mf-active-top: -@mf-font-size;

// Margin & Paddings
@mf-gap: @mf-font-size * 1.5;
@mf-spacer: @mf-font-size / 8;
@mf-checkbox-gap: @mf-font-size * 2;
@mf-checkbox-top: 0;
@mf-radio-margin: @mf-font-size / -4;

// Colors
@mf-input-color: @color-text-primary;
@mf-border-color: @color-border;
@mf-label-color: @color-border;
@mf-active-color: darken(@mf-border-color, 10%);
@mf-focus-color: @color-primary;
@mf-error-color: @color-error;

// Animation
@mf-transition-speed: 0.28s;



.m-radio-group,
.m-field {
	position: relative;
	margin-top: (@mf-gap * 1.5);
	margin-bottom: (@mf-gap * 1.5);
}

.m-field {

	input {
		height: (@mf-font-size * 1.9);
	}

	textarea {
		resize: none;
	}

	select {
		width: 100%;
		font-size: @mf-font-size;
		height: (@mf-font-size * 1.6);
		padding: @mf-spacer @mf-spacer (@mf-spacer / 2);
		background: none;
		border: none;
		line-height: 1.6;
		box-shadow: none;
	}

	.m-field__label {
		position: absolute;
		top: (@mf-font-size / 4);
		pointer-events: none;
		padding-left: @mf-spacer;
		z-index: 1;
		color: @mf-label-color;
		font-size: @mf-font-size;
		font-weight: normal;
		transition: all @mf-transition-speed ease;
	}

	.bar {
		position: relative;
		border-bottom: 1px solid @mf-border-color;
		display: block;
		
		&::before {
			content: '';
			height: (@mf-font-size / 8);
			width: 0;
			left: 50%;
			bottom: (@mf-font-size / -16);
			position: absolute;
			background: @mf-focus-color;
			transition: left @mf-transition-speed ease, width @mf-transition-speed ease;
			z-index: 2;
		}
	}

	input,
	textarea {
		display: block;
		background: none;
		padding: @mf-spacer @mf-spacer (@mf-spacer / 2);
		font-size: @mf-font-size;
		border-width: 0;
		border-color: transparent;
		line-height: 1.9;
		width: 100%;
		color: transparent;
		transition: all @mf-transition-speed ease;
		box-shadow: none;
	}

	input[type="file"] {
		line-height: 1;

		~ .bar {
			display: none;
		}
	}

	select,
	input:focus,
	input:valid,
	input.m-file,
	input.has-value,
	textarea:focus,
	textarea:valid,
	textarea.m-file,
	textarea.has-value {
		color: @mf-input-color;

		~ .m-field__label {
			font-size: @mf-active-font-size;
			color: @mf-active-color;
			top: @mf-active-top;
			left: 0;
		}
	}

	select,
	input,
	textarea {
		&:focus {
			outline: none;

			~ .m-field__label {
				color: @mf-focus-color;
			}

			~ .bar {
				&::before {
					width: 100%;
					left: 0;
				}
			}
		}
	}
}

// Radio & Checkbox
.m-checkbox,
.m-radio {
	label {
		position: relative;
		cursor: pointer;
		padding-left: @mf-checkbox-gap;
		text-align: left;
		color: @mf-input-color;
		display: block;
	}

	input {
		width: auto;
		opacity: 0.00000001;
		position: absolute;
		left: 0;
	}
}

.m-radio {
	margin-bottom: @mf-font-size;

	.m-radio__thumb {
		position: absolute;
		top: @mf-radio-margin;
		left: @mf-radio-margin;
		cursor: pointer;
		display: block;
		font-size: @mf-font-size;
		user-select: none;
		color: @mf-border-color;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			margin: (@mf-spacer * 2);
			width: @mf-font-size;
				height: @mf-font-size;
			transition: transform @mf-transition-speed ease;
			border-radius: 50%;
			border: (@mf-font-size / 8) solid currentColor;
		}

		&::after {
			transform: scale(0);
			background-color: @mf-focus-color;
			border-color: @mf-focus-color;
		}
	}

	label:hover .m-radio__thumb {
		color: @mf-focus-color;
	}

	// scss-lint:disable QualifyingElement, NestingDepth
	input:checked {
		~ .m-radio__thumb {
			&::after {
					transform: scale(0.5);
			}
			&::before {
				color: @mf-focus-color;
			}
		}
	}
}

.m-checkbox {
	// scss-lint:disable QualifyingElement
	
	margin-top: (@mf-gap * 2);
	margin-bottom: @mf-font-size;
	
	.m-checkbox__thumb {
		color: @mf-border-color;
		position: absolute;
		top: @mf-checkbox-top;
		left: 0;
		width: @mf-font-size;
		height: @mf-font-size;
		z-index: 0;
		border: (@mf-font-size / 8) solid currentColor;
		border-radius: (@mf-font-size / 16);
		transition: border-color @mf-transition-speed ease;
		
		&::before,
		&::after {
			position: absolute;
			height: 0;
			width: (@mf-font-size * 0.2);
			background-color: @mf-focus-color;
			display: block;
			transform-origin: left top;
			border-radius: (@mf-font-size / 4);
			content: '';
			transition: opacity @mf-transition-speed ease, height 0s linear @mf-transition-speed;
			opacity: 0;
		}
		
		&::before {
			top: (@mf-font-size * 0.65);
			left: (@mf-font-size * 0.38);
			transform: rotate(-135deg);
			box-shadow: 0 0 0 (@mf-font-size / 16) #fff;
		}

		&::after {
			top: (@mf-font-size * 0.3);
			left: 0;
			transform: rotate(-45deg);
		}
	}
	
	label:hover .m-checkbox__thumb {
		color: @mf-focus-color;
	}
	
	input:checked {
		~ .m-checkbox__thumb {
			color: @mf-focus-color;
			
			&::after,
			&::before {
				opacity: 1;
				transition: height @mf-transition-speed ease;
			}

			&::after {
				height: (@mf-font-size / 2);
			}

			&::before {
				height: (@mf-font-size * 1.2);
				transition-delay: @mf-transition-speed;
			}
		}
	}
}

.m-radio + .m-radio,
.m-checkbox + .m-checkbox {
	margin-top: @mf-font-size;
}

.has-error {
	.legend.legend,
	&.m-field .m-field__label.m-field__label {
		// Prevent !importantRule
		color: @mf-error-color;
	}
	
	&.m-field,
	&.m-checkbox,
	&.m-radio,
	&.m-radio-group {
		.m-help,
		.m-checkbox__thumb,
		.m-radio__thumb {
			color: @mf-error-color;
		}
	}
	
	.bar {
		&::before {
			background: @mf-error-color;
			left: 0;
			width: 100%;
		}
	}
}

//Switch
.m-switch {
	position: relative;
	height: auto;
	padding: 10px 0;
	display: flex;
	align-items: center;

	input {
		position: absolute;
		left: 0;
		opacity: 0.0001;
	}
	.m-switch__thumb {
		position: relative;
		display: inline-block;
		height: 14px;
		width: 40px;
		background: rgba(0, 0, 0, 0.26);
		border-radius: 100px;
		cursor: pointer;
		vertical-align: middle;
		transition: all .3s ease;
		flex-shrink: 0;
	}
  
  	.m-switch__thumb:after {
	  	position: absolute;
		left: -2px;
		top: -4px;
		display: block;
		width: 22px;
		height: 22px;
		border-radius: 100px;
		background: #fafafa;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
		content: '';
		transition: all .3s ease;
	}

	.m-switch__label {
		padding-left: 16px;
	}

	input:checked ~ .m-switch__thumb {
		background: lighten(@mf-focus-color, 30%);
		
		&:after {
			left: 20px;
		    background: @mf-focus-color;
		}
	}
	
	input:disabled ~ .m-switch__thumb {
		background: lighten(@mf-border-color,30%);
		pointer-events: none;
		&:after {
			background: @mf-border-color;
		}
	}
}

/* Buttons */

/*flat button*/
.m-button {
	background: 0 0;
    border: none;
    border-radius: 2px;
    color: @color-text-primary;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;

	&:hover {
		background-color: rgba(158, 158, 158, 0.2);
	}
	&:active {
		background-color: rgba(158, 158, 158, 0.4);
	}
}

.m-button[disabled], 
.m-button.m-button--disabled {
	color: rgba(0, 0, 0, 0.26);
    cursor: default;
    background-color: transparent;
}
.m-button--primary {
	color: @color-primary;
}
.m-button--accent {
	color: @color-accent;
}

/*raised button*/

.m-button--raised {
    background: rgba(158, 158, 158, 0.2);
    box-shadow: @shadow-2;
	&:active {
		box-shadow: @shadow-4;
    	background-color: rgba(158, 158, 158, 0.4);	
	}
}
.m-button--raised[disabled], 
.m-button--raised.m-button--disabled {
	background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
}

.m-button--raised.m-button--primary {
	color: @color-text-primary;
    background-color: @color-primary;
}

.m-button--raised.m-button--accent {
	color: @color-text-primary;
    background-color: @color-accent;
}

/*fab button*/
.m-button--fab {
	border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    background: rgba(158, 158, 158, 0.2);
    box-shadow: @shadow-2;
    position: relative;
    line-height: normal;

	&:active {
		box-shadow: @shadow-4;
    	background-color: rgba(158, 158, 158, 0.4);	
	}
	&:focus {
		box-shadow: @shadow-4;
	}	
}

.m-button--fab[disabled],
.m-button--fab.m-button--disabled {
	background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
}
.m-button--fab.m-button--primary {
	color: @color-text-primary;
    background-color: @color-primary;
}

.m-button--fab.m-button--accent {
	color: @color-text-primary;
    background-color: @color-accent;
}