@import '../variables/colors';

.places-list {
    padding: 1rem 0;
}

.places-list__item {
    margin:  0 0 1rem 0;
    display: inline-block;
    width: 300px;
}

.place__image {
    background: url('/img/cafe.jpg') center center no-repeat;
    background-size: cover;
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.place__title  {
    color: #fff;
    z-index: 2;
    font-size: 1.2rem;
}

.place__description {
    font-size: 0.9rem;
}

.place__feature {
    display: flex;
    color: @color-text-secondary;
    font-size: 0.9rem;
}
.place__feature-name {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10px;
}

.place__feature-description {
    flex-grow: 1;
}