@import '../variables/colors';
@import '../variables/shadows';

@bold-title-color: #545454;

.search-panel {
    width: 100%;
    background: #f2f2f2;
    padding: 2.0rem 0;
    box-shadow: @shadow-2;
    margin-top: 130px;
}

.search-panel__title {
    font-size: 1.75rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem; 
    color: @bold-title-color
}

.search-block {
    display: flex;
    margin-bottom: 20px;
}

.search-block__input {
    flex-grow: 1;
    border: 1px solid;
    border-color: transparent;
    margin-right: 1rem;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.07);
    transition: border-color 0.1s linear;
    will-change: border-color;
}

.search-block__input:focus {
    border-color: #bcca37;
}

.search-block__button {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    max-width: 149px;

    border: none;
    background: linear-gradient(0deg, #acb835 0%, #c6d538 100%);
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.07);
    color: #fff;
    font-weight: bold;

}

.search-panel__bottom {
    background: @color-body;
}

.search-panel__details {
    overflow: hidden;
    max-height: 10000px;
    transition: max-height 0.5s ease-in-out;

    &--collapsed {
        max-height: 0;
    }
}
.search-panel__content {
    padding: 0 3.75rem;
}


.search-panel__details-expander {
    position: absolute;
    bottom: 24px;
    right: 16px;
}



.search-panel__details-group {
}

.group-divider {
    display: inline-block;
    width: 1rem;
    height: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
}

.group-title {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: @bold-title-color;
}

.details-group__tag {
    padding: 0.25rem 0.5rem;
    background: #fff;
    display: inline-block;
    margin: 0 1rem 0.5rem 0;
    transition: background .2s ease-in-out;
    border: 1px solid @color-border;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.07);
    
    &:hover {
        cursor: pointer;
    }
}
.details-group__tag--selected,
.details-group__tag--selected:hover {
    background: #363938;
    color: #fff;
}

@media all and (max-width: 450px) {
    .search-panel {
        padding: 1rem 0; 
        margin-top: 2rem;
    }
    .search-panel__title {
        margin-bottom: 1rem;
    }
    .search-panel__content {
        padding: 0 1rem;
    }
    
    .search-block {
        padding: 0;
    }
    
    .search-block__input {
        margin-right: 0;
    }
}
